// Colors
$action-color: gray !default;
$footer-color: white;
$footer-background: desaturate(darken($action-color, 20%), 30%);
$footer-disclaimer-color: transparentize($footer-color, 0.6);
$footer-link-color: transparentize($footer-color, 0.6);
$gray: #a6a39c;
$transparent: rgba( 255, 255, 255, 0%);



// General
$min-height: 95vh;


