// 1 - Load project variables.
// 2 - Load bourbon files.
// 3 - Load custom app sass files.



// Load project variables

@import "variables";


// bower:scss
// endbower
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// The browser upgrade fallback
@import "../../bower_components/bourbon/app/assets";

// Load custom app sass files.
@import "navigation";
@import "frontpage";